demo_db RCDATA "demo.db"
styles RCDATA "styles.7z"
fill_new_db RCDATA "fill_new_db.sql"
clear_service_info RCDATA "clear_service_info.sql"
create_db_script RCDATA "create_db_script.sql"
change_struct_new_fields RCDATA "change_struct_new_fields.json"
add_new_rows RCDATA "add_new_rows.json"
add_new_object RCDATA "add_new_object.json"
clear_tmp_filter RCDATA "clear_tmp_filter.sql"
cut_db_filter_source_project RCDATA "cut_db_filter_source_project.sql"
